img{
    width: 50em;  
}
.main-heading{
    color: #403cb2;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
}
.footer-top{
    padding: 2em;
}
footer .social-links a {
    font-size: 17px;
    display: inline-block;
    background: #403cb2;
    color: rgb(255, 255, 255);
    line-height: 1;
    padding: 9px 0;
    margin-right: 5px;
    border-radius: 100%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.4s;
  }
footer .social-links a:hover {
    background: #fbbb3e;
    transition: 0.2s all ease-in-out;
  }
.footer-bottom {
    padding: 20px 0px;
  }